img {
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.3);
}

.topCard {
  text-decoration: none;
  color: white;
  transition: 0.1s ease-in-out;
}

.topCard:hover {
  color: #1DB954;
}

.listCard {
  text-decoration: none;
  color: white;
  transition: 0.1s ease-in-out;
  flex: 1; 
  padding: 0.25rem 0; 
  margin: 0 0.5rem; 
  background: #2C2828; 
  border: none;
}

.listCard:hover {
  color: #1DB954;
}

.listText {
  max-width: 100%;

}

.profileName {
  font-weight: 700;
}

.github {
  color: white;
  transition: 0.1s ease-in-out;
}

.github:hover {
  color: green;
  transform: scale(1.1);
}

.spotify {
  transform: scale(1.5);
  transition: transform 0.1s ease-in-out;
}

.spotify:hover {
  transform: scale(1.6);
}

.logout {
  position: absolute;
  top: 2%;
  right: 6%;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.1s ease-in-out;
  padding: 0.5rem;
  border: none;
  border-radius: 1rem;
}

.logout:hover {
  background-color: green;
}

.card {
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 767px) {
  .container {
    gap: unset !important;
  }

  .row * {
    margin: 0.5rem 0;
  }

  .top-row:nth-child(2) {
    margin-top: 5rem !important;
  }

  #genre-cont {
    min-height: 400px !important;
    max-height: 400px !important;
  }

  .responsiveContainer {
    min-height: 300px !important;
    max-height: 300px !important;
    padding: 0;
    margin: 0;
  }
}