img {
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.3);
}

.top-text {
  font-size: 1.5rem;
}

.profile-name {
  font-size: 2rem;
  font-weight: 700;
}

.github {
  color: white;
  transition: 0.1s ease-in-out;
}

.github:hover {
  color: green;
}

.logout {
  position: absolute;
  top: 2%;
  right: 2%;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.1s ease-in-out;
  padding: 0.5rem;
  border: none;
  border-radius: 1rem;
}

.logout:hover {
  background-color: green;
}

.card {
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 767px) {
  .container {
    gap: unset !important;
  }

  .row * {
    margin: 0.5rem 0;
  }

  .top-row:nth-child(2) {
    margin-top: 5rem !important;
  }

  #genre-cont {
    min-height: 400px !important;
    max-height: 400px !important;
  }

  .responsiveContainer {
    min-height: 300px !important;
    max-height: 300px !important;
    padding: 0;
    margin: 0;
  }
}